### Project outcome
Create a datasheet of dairy product over time (1960 to 2020) for Ireland and other EU nations. Dataframe will be created from diffrent dairy products, types of animal where dairy products are collected and Tatal population of the Countries.


### Data Description
This data, which is in a csv file format, consists of Year, Ireland and other european countries. These columns contain information about the columns mentioned from 1960 to 2020.


### How Was This Data Collected?
Crop and Food data were obtained from the Food and Agricultural Organisation of the United Nations. FAO collects the data from all the counrties in the world. FAO is an international organisation and it is a part of the United Nations. I am using raw data to form the base of my dataframes. FAO is a website that provides reliable data in various fields.
For more detailed information, please click the link below. Link :
https://www.fao.org/faostat/en/#data/QCL


Total yearly population data are collectes from EUROSTAT which is freely available and there is no licensing reuirement to access these data. This population is then compared to the other 27 countries in the EU. Four countries are identified as having a similar (+/- 1m people) population in 2020. The population data for these countries is downloaded. They can only be downloaded seperately.
For more detailed information, please click the link below. Link :
https://data.worldbank.org/indicator/SP.POP.TOTL?end=2020&start=1960


### Is There a License for the Data Used?
The FAO, the website from which the data was obtained, has a Creative Commons Attribution 4.0 International license. This license type makes shared data publicly available according to open data standards and license datasets. Data are freely available and no licence is required to access or downlaod the data.

In [168]:
# import libraries first
import pandas as pd
import seaborn as sns
import numpy as np
import warnings
import datetime
import math
from matplotlib import pyplot as plt

Aim of this project is to investigate the milk production in Ireland by comparing Irish data with other EU countries based on similar climatic conditions or similar population levels.

## Section 1.0
# Creating Gantt chart for my project

In [169]:
# import libraries for the chart
import plotly.express as px
import pandas as pd
import plotly.figure_factory as ff
df = pd.DataFrame([
    dict(Task="Investigate & Develop Questions", Start='2022-12-04', Finish='2022-12-11', Resource='Complete'),
    dict(Task="Data Collection & Prep", Start='2022-12-10', Finish='2022-12-18',  Resource='Incomplete'),
    dict(Task="EDA & Statistics", Start='2022-12-12', Finish='2022-12-22',  Resource='Incomplete'),
    dict(Task="Machine Learning", Start='2022-12-20', Finish='2022-12-22',  Resource='Not Started'),
    dict(Task="Machine Learning", Start='2022-12-27', Finish='2023-01-01',  Resource='Not Started'),
    dict(Task="Report Writing ", Start='2022-12-18', Finish='2022-12-22',  Resource='Not Started'),
    dict(Task="Report Writing ", Start='2022-12-27', Finish='2023-01-05',  Resource='Not Started'),
    dict(Task="Submit ", Start='2023-01-06', Finish='2023-01-06',  Resource='Not Started')
])

colors = {'Not Started': 'rgb(220, 0, 0)',
          'Incomplete': (1, 0.9, 0.16),
          'Complete': 'rgb(0, 255, 100)'}

fig = ff.create_gantt(df, colors=colors, index_col='Resource', show_colorbar=True,
                      group_tasks=True)
fig.show()

## Section 2.0 Exploratory Data Analysis (EDA)
### 2.0.1 Data preparation

In [105]:
# import the milk production data
# encoding is added to overcome following error
#UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 103043: invalid continuation byte
lp_df = pd.read_csv('datasets/livestock_products.csv', encoding='latin-1')

In [439]:
# import the propulaton data
# encoding is added to overcome following error
#UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 103043: invalid continuation byte
wpt_df = pd.read_csv('datasets/world_populations_total.csv', encoding='latin-1')

### 2.0.2 Exploring the data

In [107]:
lp_df.head() # default shows first 5 rows

,ï»¿Domain_Code,Domain,Area Code,Area,Element_Code,Element,Item_Code,Item,Year_Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,2,Afghanistan,5420,Yield,1780,Milk,1961,1961,hg/An,753.0,E,Estimated value
1,QCL,Crops and livestock products,2,Afghanistan,5420,Yield,1780,Milk,1962,1962,hg/An,752.0,E,Estimated value
2,QCL,Crops and livestock products,2,Afghanistan,5420,Yield,1780,Milk,1963,1963,hg/An,779.0,E,Estimated value
3,QCL,Crops and livestock products,2,Afghanistan,5420,Yield,1780,Milk,1964,1964,hg/An,753.0,E,Estimated value
4,QCL,Crops and livestock products,2,Afghanistan,5420,Yield,1780,Milk,1965,1965,hg/An,784.0,E,Estimated value

In [441]:
wpt_df.head() # default shows first 5 rows

,ï»¿Country_Name,Country_Code,Indicator_Name,Indicator_Code,Year,Human_Population_Total,Human_Populationin_agriculture,Human_Populationin_agriculturePercent
0,Afghanistan,AFG,Population total,SP.POP.TOTL,1960,8996967.0,NaN,NaN
1,Afghanistan,AFG,Population total,SP.POP.TOTL,1961,9169406.0,NaN,NaN
2,Afghanistan,AFG,Population total,SP.POP.TOTL,1962,9351442.0,NaN,NaN
3,Afghanistan,AFG,Population total,SP.POP.TOTL,1963,9543200.0,NaN,NaN
4,Afghanistan,AFG,Population total,SP.POP.TOTL,1964,9744772.0,NaN,NaN

In [109]:
lp_df.tail() # default shows last 5 rows

,ï»¿Domain_Code,Domain,Area Code,Area,Element_Code,Element,Item_Code,Item,Year_Code,Year,Unit,Value,Flag,Flag Description
37660,QCL,Crops and livestock products,5817,Net Food Importing Developing Countries,5318,Milk Animals,1780,Milk,2016,2016,Head,330972903.0,E,Estimated value
37661,QCL,Crops and livestock products,5817,Net Food Importing Developing Countries,5318,Milk Animals,1780,Milk,2017,2017,Head,332781005.0,E,Estimated value
37662,QCL,Crops and livestock products,5817,Net Food Importing Developing Countries,5318,Milk Animals,1780,Milk,2018,2018,Head,333856329.0,E,Estimated value
37663,QCL,Crops and livestock products,5817,Net Food Importing Developing Countries,5318,Milk Animals,1780,Milk,2019,2019,Head,350949439.0,E,Estimated value
37664,QCL,Crops and livestock products,5817,Net Food Importing Developing Countries,5318,Milk Animals,1780,Milk,2020,2020,Head,346548351.0,E,Estimated value

In [442]:
wpt_df.tail() # default shows last 5 rows

,ï»¿Country_Name,Country_Code,Indicator_Name,Indicator_Code,Year,Human_Population_Total,Human_Populationin_agriculture,Human_Populationin_agriculturePercent
16160,Zimbabwe,ZWE,Population total,SP.POP.TOTL,2016,14030338.0,9383490.0,66.879997
16161,Zimbabwe,ZWE,Population total,SP.POP.TOTL,2017,14236599.0,9464491.0,66.480003
16162,Zimbabwe,ZWE,Population total,SP.POP.TOTL,2018,14438812.0,9532503.0,66.019997
16163,Zimbabwe,ZWE,Population total,SP.POP.TOTL,2019,14645473.0,9693839.0,66.190002
16164,Zimbabwe,ZWE,Population total,SP.POP.TOTL,2020,14862927.0,NaN,NaN

In [265]:
lp_df.columns # this will list all the column names

Index(['Domain_Code', 'Domain', 'Area Code', 'Area', 'Element_Code', 'Element',
       'Item_Code', 'Item', 'Year_Code', 'Year', 'Unit', 'Value', 'Flag',
       'Flag Description'],
      dtype='object')

In [443]:
wpt_df.columns # this will list all the column names

Index(['ï»¿Country_Name', 'Country_Code', 'Indicator_Name', 'Indicator_Code',
       'Year', 'Human_Population_Total', 'Human_Populationin_agriculture',
       'Human_Populationin_agriculturePercent'],
      dtype='object')

In [113]:
# upon observation noticed that some column name need to be fixed
#fix column name in data frame lp_df
lp_df.rename(columns = {'ï»¿Domain_Code':'Domain_Code'}, inplace = True)

In [444]:
# upon observation noticed that some column name need to be fixed
#fix column name in data frame wpt_df
wpt_df.rename(columns = {'ï»¿Country_Name':'Country_Name'}, inplace = True)

In [115]:
lp_df.dtypes # data type for each variable in the dataframe

Domain_Code          object
Domain               object
Area Code             int64
Area                 object
Element_Code          int64
Element              object
Item_Code             int64
Item                 object
Year_Code             int64
Year                  int64
Unit                 object
Value               float64
Flag                 object
Flag Description     object
dtype: object

In [445]:
wpt_df.dtypes # data type for each variable in the dataframe

Country_Name                              object
Country_Code                              object
Indicator_Name                            object
Indicator_Code                            object
Year                                       int64
Human_Population_Total                   float64
Human_Populationin_agriculture           float64
Human_Populationin_agriculturePercent    float64
dtype: object

In [117]:
lp_df.describe() # description of the numeric data in the DataFrame
wpt_df.describe() # description of the numeric data in the DataFrame

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
count,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,...,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,2.640000e+02,0.0
mean,1.172174e+08,1.187633e+08,1.208717e+08,1.234910e+08,1.261315e+08,1.288372e+08,1.316853e+08,1.345256e+08,1.374350e+08,1.404490e+08,...,2.912969e+08,2.951160e+08,2.989277e+08,3.027560e+08,3.065980e+08,3.103591e+08,3.140425e+08,3.176734e+08,3.210893e+08,NaN
std,3.695745e+08,3.739180e+08,3.804316e+08,3.889142e+08,3.974401e+08,4.062000e+08,4.155171e+08,4.247722e+08,4.342805e+08,4.441772e+08,...,9.129343e+08,9.241050e+08,9.352101e+08,9.463321e+08,9.575052e+08,9.683483e+08,9.788967e+08,9.891628e+08,9.988295e+08,NaN
min,2.833000e+03,3.077000e+03,3.367000e+03,3.703000e+03,4.063000e+03,4.460000e+03,4.675000e+03,4.922000e+03,5.194000e+03,5.461000e+03,...,1.020800e+04,1.028900e+04,1.037400e+04,1.047400e+04,1.057700e+04,1.067800e+04,1.076400e+04,1.083400e+04,1.087300e+04,NaN
25%,5.022802e+05,5.109642e+05,5.206540e+05,5.311622e+05,5.421252e+05,5.533362e+05,5.647475e+05,5.823645e+05,5.981078e+05,6.100030e+05,...,1.574621e+06,1.609909e+06,1.645868e+06,1.689616e+06,1.716772e+06,1.740174e+06,1.751950e+06,1.767996e+06,1.791783e+06,NaN
50%,3.718330e+06,3.826398e+06,3.929109e+06,4.015834e+06,4.124521e+06,4.242788e+06,4.326013e+06,4.387887e+06,4.474171e+06,4.550402e+06,...,9.948838e+06,1.001582e+07,1.022085e+07,1.036160e+07,1.040671e+07,1.045548e+07,1.047907e+07,1.052565e+07,1.054019e+07,NaN
75%,2.636053e+07,2.721235e+07,2.808607e+07,2.890669e+07,2.972333e+07,3.055227e+07,3.134845e+07,3.200449e+07,3.244145e+07,3.277149e+07,...,6.120753e+07,6.174243e+07,6.182699e+07,6.187352e+07,6.191725e+07,6.193141e+07,6.150589e+07,6.157091e+07,6.295547e+07,NaN
max,3.032156e+09,3.071596e+09,3.124561e+09,3.189656e+09,3.255146e+09,3.322047e+09,3.392098e+09,3.461620e+09,3.532783e+09,3.606554e+09,...,7.175500e+09,7.261847e+09,7.347679e+09,7.433651e+09,7.519371e+09,7.602716e+09,7.683806e+09,7.763933e+09,7.836631e+09,NaN

In [118]:
lp_df.describe(include=object) #description of the non-numeric data in the DataFrame

,Domain_Code,Domain,Area,Element,Item,Unit,Flag,Flag Description
count,37665,37665,37665,37665,37665,37665,37665,37665
unique,1,1,231,3,1,3,2,2
top,QCL,Crops and livestock products,Afghanistan,Production,Milk,tonnes,E,Estimated value
freq,37665,37665,180,12566,37665,12566,36695,36695

### 2.0.3 Data indentification and cleaning

In [155]:
lp_df1 = lp_df.loc[lp_df['Area'].isin(eucountry_list)] 
print(lp_df1.shape)

(3969, 14)

In [175]:
print(lp_df1.head())

     Domain_Code                        Domain  Area Code     Area  \
1347         QCL  Crops and livestock products         11  Austria
1348         QCL  Crops and livestock products         11  Austria
1349         QCL  Crops and livestock products         11  Austria
1350         QCL  Crops and livestock products         11  Austria
1351         QCL  Crops and livestock products         11  Austria

      Element_Code Element  Item_Code  Item  Year_Code  Year   Unit    Value  \
1347          5420   Yield       1780  Milk       1961  1961  hg/An  23250.0
1348          5420   Yield       1780  Milk       1962  1962  hg/An  24251.0
1349          5420   Yield       1780  Milk       1963  1963  hg/An  24919.0
1350          5420   Yield       1780  Milk       1964  1964  hg/An  25985.0
1351          5420   Yield       1780  Milk       1965  1965  hg/An  26923.0

     Flag Flag Description
1347    E  Estimated value
1348    E  Estimated value
1349    E  Estimated value
1350    E  Estimated value
1351    E  Estimated value

In [305]:
# Identify the unique Element in the DF
lp_df["Element"].unique()

array(['Yield', 'Production', 'Milk Animals'], dtype=object)

In [306]:
# Dataframe contains 3 unique elements. Milk production (mp) is an element of interest.
# Subset the data to isolate mp data

milkproductionyeild_lp_df = lp_df[lp_df["Element"]=="Yield"]

In [307]:
# Dataframe contains 3 unique elements. Milk production (mp) is an element of interest.
# Subset the data to isolate mp data

milkproduction_lp_df = lp_df[lp_df["Element"]=="Production"]

In [308]:
# Dataframe contains 3 unique elements. Milk production (mp) is an element of interest.
# Subset the data to isolate mp data

milkproductionanimals_lp_df = lp_df[lp_df["Element"]=="Milk Animals"]

In [309]:
# change column names
#milkproduction_lp_df.head(80)
milkproductionanimals_lp_df.columns # this will list all the column names

milkproductionanimals_lp_df.rename(columns = {'Element':'Animal_Element'}, inplace = True)
milkproductionanimals_lp_df.rename(columns = {'Unit':'Animal_Unit'}, inplace = True)
milkproductionanimals_lp_df.rename(columns = {'Value':'Animal_Value'}, inplace = True)

In [310]:
# change column names
#milkproduction_lp_df.head(80)
milkproduction_lp_df.columns # this will list all the column names

milkproduction_lp_df.rename(columns = {'Element':'Production_Element'}, inplace = True)
milkproduction_lp_df.rename(columns = {'Unit':'Production_Unit'}, inplace = True)
milkproduction_lp_df.rename(columns = {'Value':'Production_Value'}, inplace = True)

In [311]:
# change column names
milkproductionyeild_lp_df.head(80)
milkproductionyeild_lp_df.rename(columns = {'Element':'Yeild_Element'}, inplace = True)
milkproductionyeild_lp_df.rename(columns = {'Unit':'Yeild_Unit'}, inplace = True)
milkproductionyeild_lp_df.rename(columns = {'Value':'Yeild_Value'}, inplace = True)

In [312]:
milkproductionyeild_lp_df.columns

Index(['Domain_Code', 'Domain', 'Area Code', 'Area', 'Element_Code',
       'Yeild_Element', 'Item_Code', 'Item', 'Year_Code', 'Year', 'Yeild_Unit',
       'Yeild_Value', 'Flag', 'Flag Description'],
      dtype='object')

In [313]:
# drop columns that are not neccessory
milkproductionyeild_lp_df.drop(['Domain_Code', 'Domain', 'Area Code', 'Element_Code',
       'Item_Code', 'Item', 'Year_Code', 'Flag', 'Flag Description'], axis = 1, inplace = True)
milkproductionanimals_lp_df.drop(['Domain_Code', 'Domain', 'Area Code', 'Element_Code',
       'Item_Code', 'Item', 'Year_Code', 'Flag', 'Flag Description'], axis = 1, inplace = True)

In [314]:
milkproductionyeild_lp_df.head(80)

            Area Yeild_Element  Year Yeild_Unit  Yeild_Value
0    Afghanistan         Yield  1961      hg/An        753.0
1    Afghanistan         Yield  1962      hg/An        752.0
2    Afghanistan         Yield  1963      hg/An        779.0
3    Afghanistan         Yield  1964      hg/An        753.0
4    Afghanistan         Yield  1965      hg/An        784.0
..           ...           ...   ...        ...          ...
195      Albania         Yield  1976      hg/An       1803.0
196      Albania         Yield  1977      hg/An       1941.0
197      Albania         Yield  1978      hg/An       2072.0
198      Albania         Yield  1979      hg/An       2144.0
199      Albania         Yield  1980      hg/An       2076.0

[80 rows x 5 columns]

In [315]:
milkproduction_lp_df.shape  # to check row and columns are in the dataframe

(12566, 14)

In [316]:
milkproduction_lp_df.describe(include=object) #description of the non-numeric data in the DataFrame

,Domain_Code,Domain,Area,Production_Element,Item,Production_Unit,Flag,Flag Description
count,12566,12566,12566,12566,12566,12566,12566,12566
unique,1,1,231,1,1,1,1,1
top,QCL,Crops and livestock products,Afghanistan,Production,Milk,tonnes,E,Estimated value
freq,12566,12566,60,12566,12566,12566,12566,12566

In [317]:
# now find the unique countries name in the data frame

In [318]:
milkproduction_lp_df["Area"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize',
       'Benin', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Costa Rica', "CÃ´te d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Ethiopia PDR', 'Fiji', 'Finland', 'France', 'French Guyana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Mali', 'Malta', 'Martinique', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North Macedonia', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'RÃ©union', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Sudan (former)',
       'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'TÃ¼rkiye', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'USSR', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Yugoslav SFR', 'Zambia', 'Zimbabwe', 'World', 'Africa',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia and New Zealand',
       'Melanesia', 'Polynesia', 'European Union (27)',
       'Least Developed Countries', 'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries'], dtype=object)

In [319]:
print(milkproduction_lp_df.head())

   Domain_Code                        Domain  Area Code         Area  \
60         QCL  Crops and livestock products          2  Afghanistan
61         QCL  Crops and livestock products          2  Afghanistan
62         QCL  Crops and livestock products          2  Afghanistan
63         QCL  Crops and livestock products          2  Afghanistan
64         QCL  Crops and livestock products          2  Afghanistan

    Element_Code Production_Element  Item_Code  Item  Year_Code  Year  \
60          5510         Production       1780  Milk       1961  1961
61          5510         Production       1780  Milk       1962  1962
62          5510         Production       1780  Milk       1963  1963
63          5510         Production       1780  Milk       1964  1964
64          5510         Production       1780  Milk       1965  1965

   Production_Unit  Production_Value Flag Flag Description
60          tonnes          574900.0    E  Estimated value
61          tonnes          576700.0    E  Estimated value
62          tonnes          646700.0    E  Estimated value
63          tonnes          659900.0    E  Estimated value
64          tonnes          720900.0    E  Estimated value

In [378]:
# check null value
milkproduction_lp_df.isnull().sum() # check for missing data

Domain_Code           0
Domain                0
Area Code             0
Area                  0
Element_Code          0
Production_Element    0
Item_Code             0
Item                  0
Year_Code             0
Year                  0
Production_Unit       0
Production_Value      3
Flag                  0
Flag Description      0
dtype: int64

In [323]:
# check null value in dependent variable
# Checking for null values specifically in the dependant variable
check_nan = milkproduction_lp_df['Production_Value'].isnull().values.any()
 
# printing the result
print(check_nan)

True

In [392]:
# now merge three data frame into one

world_production_lp_df=pd.merge(pd.merge(milkproduction_lp_df,milkproductionyeild_lp_df,on=['Area', 'Year']),milkproductionanimals_lp_df,on=['Area','Year'])

In [446]:

world_production_lp_df.columns

Index(['Area', 'Production_Element', 'Item', 'Year', 'Production_Unit',
       'Production_Value', 'Yeild_Element', 'Yeild_Unit', 'Yeild_Value',
       'Animal_Element', 'Animal_Unit', 'Animal_Value'],
      dtype='object')

In [447]:
# drop columns that are not neccessory
world_production_lp_df.drop(['Domain_Code', 'Domain', 'Area Code', 'Element_Code',
       'Item_Code', 'Year_Code', 'Flag', 'Flag Description'], axis = 1, inplace = True)

KeyError: "['Domain_Code', 'Domain', 'Area Code', 'Element_Code', 'Item_Code', 'Year_Code', 'Flag', 'Flag Description'] not found in axis"

In [395]:
world_production_lp_df

,Area,Production_Element,Item,Year,Production_Unit,Production_Value,Yeild_Element,Yeild_Unit,Yeild_Value,Animal_Element,Animal_Unit,Animal_Value
0,Afghanistan,Production,Milk,1961,tonnes,574900.0,Yield,hg/An,753.0,Milk Animals,Head,7639000.0
1,Afghanistan,Production,Milk,1962,tonnes,576700.0,Yield,hg/An,752.0,Milk Animals,Head,7672000.0
2,Afghanistan,Production,Milk,1963,tonnes,646700.0,Yield,hg/An,779.0,Milk Animals,Head,8307000.0
3,Afghanistan,Production,Milk,1964,tonnes,659900.0,Yield,hg/An,753.0,Milk Animals,Head,8765000.0
4,Afghanistan,Production,Milk,1965,tonnes,720900.0,Yield,hg/An,784.0,Milk Animals,Head,9200000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
12528,Net Food Importing Developing Countries,Production,Milk,2016,tonnes,109277438.0,Yield,hg/An,3302.0,Milk Animals,Head,330972903.0
12529,Net Food Importing Developing Countries,Production,Milk,2017,tonnes,111378964.0,Yield,hg/An,3347.0,Milk Animals,Head,332781005.0
12530,Net Food Importing Developing Countries,Production,Milk,2018,tonnes,114671482.0,Yield,hg/An,3435.0,Milk Animals,Head,333856329.0
12531,Net Food Importing Developing Countries,Production,Milk,2019,tonnes,120266099.0,Yield,hg/An,3427.0,Milk Animals,Head,350949439.0
12532,Net Food Importing Developing Countries,Production,Milk,2020,tonnes,123486104.0,Yield,hg/An,3563.0,Milk Animals,Head,346548351.0

In [396]:
# now merge population with milk production data
wpt_df.tail()

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,Year,Human_Population_Total
16099,Zimbabwe,ZWE,Population total,SP.POP.TOTL,2016,14030338.0
16100,Zimbabwe,ZWE,Population total,SP.POP.TOTL,2017,14236599.0
16101,Zimbabwe,ZWE,Population total,SP.POP.TOTL,2018,14438812.0
16102,Zimbabwe,ZWE,Population total,SP.POP.TOTL,2019,14645473.0
16103,Zimbabwe,ZWE,Population total,SP.POP.TOTL,2020,14862927.0

In [397]:
wpt_df.columns

Index(['Country_Name', 'Country_Code', 'Indicator_Name', 'Indicator_Code',
       'Year', 'Human_Population_Total'],
      dtype='object')

In [398]:
wpt_df.head()

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,Year,Human_Population_Total
0,Afghanistan,AFG,Population total,SP.POP.TOTL,1960,8996967.0
1,Afghanistan,AFG,Population total,SP.POP.TOTL,1961,9169406.0
2,Afghanistan,AFG,Population total,SP.POP.TOTL,1962,9351442.0
3,Afghanistan,AFG,Population total,SP.POP.TOTL,1963,9543200.0
4,Afghanistan,AFG,Population total,SP.POP.TOTL,1964,9744772.0

In [448]:
# now merge animal production and human population data set
world_production_inc_lp_df = pd.merge(left=world_production_lp_df, right=wpt_df, on=None, left_on=['Area', 'Year'], right_on=['Country_Name', 'Year'])

In [449]:
world_production_inc_lp_df.head()

,Area,Production_Element,Item,Year,Production_Unit,Production_Value,Yeild_Element,Yeild_Unit,Yeild_Value,Animal_Element,Animal_Unit,Animal_Value,Country_Name,Country_Code,Indicator_Name,Indicator_Code,Human_Population_Total,Human_Populationin_agriculture,Human_Populationin_agriculturePercent
0,Afghanistan,Production,Milk,1961,tonnes,574900.0,Yield,hg/An,753.0,Milk Animals,Head,7639000.0,Afghanistan,AFG,Population total,SP.POP.TOTL,9169406.0,NaN,NaN
1,Afghanistan,Production,Milk,1962,tonnes,576700.0,Yield,hg/An,752.0,Milk Animals,Head,7672000.0,Afghanistan,AFG,Population total,SP.POP.TOTL,9351442.0,NaN,NaN
2,Afghanistan,Production,Milk,1963,tonnes,646700.0,Yield,hg/An,779.0,Milk Animals,Head,8307000.0,Afghanistan,AFG,Population total,SP.POP.TOTL,9543200.0,NaN,NaN
3,Afghanistan,Production,Milk,1964,tonnes,659900.0,Yield,hg/An,753.0,Milk Animals,Head,8765000.0,Afghanistan,AFG,Population total,SP.POP.TOTL,9744772.0,NaN,NaN
4,Afghanistan,Production,Milk,1965,tonnes,720900.0,Yield,hg/An,784.0,Milk Animals,Head,9200000.0,Afghanistan,AFG,Population total,SP.POP.TOTL,9956318.0,NaN,NaN

In [450]:
world_production_inc_lp_df.tail()

,Area,Production_Element,Item,Year,Production_Unit,Production_Value,Yeild_Element,Yeild_Unit,Yeild_Value,Animal_Element,Animal_Unit,Animal_Value,Country_Name,Country_Code,Indicator_Name,Indicator_Code,Human_Population_Total,Human_Populationin_agriculture,Human_Populationin_agriculturePercent
8700,World,Production,Milk,2016,tonnes,822243209.0,Yield,hg/An,10248.0,Milk Animals,Head,802325739.0,World,WLD,Population total,SP.POP.TOTL,7.433651e+09,NaN,NaN
8701,World,Production,Milk,2017,tonnes,842919302.0,Yield,hg/An,10501.0,Milk Animals,Head,802703463.0,World,WLD,Population total,SP.POP.TOTL,7.519371e+09,NaN,NaN
8702,World,Production,Milk,2018,tonnes,866350172.0,Yield,hg/An,10650.0,Milk Animals,Head,813464800.0,World,WLD,Population total,SP.POP.TOTL,7.602716e+09,NaN,NaN
8703,World,Production,Milk,2019,tonnes,876827409.0,Yield,hg/An,10626.0,Milk Animals,Head,825207247.0,World,WLD,Population total,SP.POP.TOTL,7.683806e+09,NaN,NaN
8704,World,Production,Milk,2020,tonnes,886861798.0,Yield,hg/An,10752.0,Milk Animals,Head,824806385.0,World,WLD,Population total,SP.POP.TOTL,7.763933e+09,NaN,NaN

In [451]:
# drop columns that are not neccessory
world_production_inc_lp_df.drop(['Country_Name','Indicator_Name','Indicator_Code'], axis = 1, inplace = True)

In [452]:
world_production_inc_lp_df.head()

,Area,Production_Element,Item,Year,Production_Unit,Production_Value,Yeild_Element,Yeild_Unit,Yeild_Value,Animal_Element,Animal_Unit,Animal_Value,Country_Code,Human_Population_Total,Human_Populationin_agriculture,Human_Populationin_agriculturePercent
0,Afghanistan,Production,Milk,1961,tonnes,574900.0,Yield,hg/An,753.0,Milk Animals,Head,7639000.0,AFG,9169406.0,NaN,NaN
1,Afghanistan,Production,Milk,1962,tonnes,576700.0,Yield,hg/An,752.0,Milk Animals,Head,7672000.0,AFG,9351442.0,NaN,NaN
2,Afghanistan,Production,Milk,1963,tonnes,646700.0,Yield,hg/An,779.0,Milk Animals,Head,8307000.0,AFG,9543200.0,NaN,NaN
3,Afghanistan,Production,Milk,1964,tonnes,659900.0,Yield,hg/An,753.0,Milk Animals,Head,8765000.0,AFG,9744772.0,NaN,NaN
4,Afghanistan,Production,Milk,1965,tonnes,720900.0,Yield,hg/An,784.0,Milk Animals,Head,9200000.0,AFG,9956318.0,NaN,NaN

### 2.0.4 Extracting european country data from list
This <span style="color:red">word</span> is not black.

In [466]:

#library countrygroups
#!pip install countrygroups

SyntaxError: invalid syntax (2776661873.py, line 2)

In [454]:
# get european country list

from countrygroups import EUROPEAN_UNION

#print(EUROPEAN_UNION.names)
eucountry_list = (EUROPEAN_UNION.names)
print(eucountry_list)
#new_list = [word.upper() for word in EUROPEAN_UNION.names]
#print(new_list)

['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czechia', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden']

In [455]:
#now filter european country data
eu_production_lp_df = world_production_inc_lp_df.loc[world_production_inc_lp_df['Area'].isin(eucountry_list)] 
print(eu_production_lp_df.shape)

(1323, 16)

In [456]:
#world_production_lp_df

# Look at the Ireland  data
world_production_inc_lp_df[world_production_inc_lp_df['Area'] == "Ireland"]

,Area,Production_Element,Item,Year,Production_Unit,Production_Value,Yeild_Element,Yeild_Unit,Yeild_Value,Animal_Element,Animal_Unit,Animal_Value,Country_Code,Human_Population_Total,Human_Populationin_agriculture,Human_Populationin_agriculturePercent
3878,Ireland,Production,Milk,1961,tonnes,2356000.0,Yield,hg/An,19536.0,Milk Animals,Head,1206000.0,IRL,2824400.0,NaN,NaN
3879,Ireland,Production,Milk,1962,tonnes,2450800.0,Yield,hg/An,20089.0,Milk Animals,Head,1220000.0,IRL,2836050.0,NaN,NaN
3880,Ireland,Production,Milk,1963,tonnes,2461100.0,Yield,hg/An,20123.0,Milk Animals,Head,1223000.0,IRL,2852650.0,NaN,NaN
3881,Ireland,Production,Milk,1964,tonnes,2548300.0,Yield,hg/An,19987.0,Milk Animals,Head,1275000.0,IRL,2866550.0,NaN,NaN
3882,Ireland,Production,Milk,1965,tonnes,2637800.0,Yield,hg/An,19381.0,Milk Animals,Head,1361000.0,IRL,2877300.0,NaN,NaN
3883,Ireland,Production,Milk,1966,tonnes,2716600.0,Yield,hg/An,19404.0,Milk Animals,Head,1400000.0,IRL,2888800.0,NaN,NaN
3884,Ireland,Production,Milk,1967,tonnes,2951400.0,Yield,hg/An,20755.0,Milk Animals,Head,1422000.0,IRL,2902450.0,NaN,NaN
3885,Ireland,Production,Milk,1968,tonnes,3148700.0,Yield,hg/An,21232.0,Milk Animals,Head,1483000.0,IRL,2915550.0,NaN,NaN
3886,Ireland,Production,Milk,1969,tonnes,3145000.0,Yield,hg/An,21136.0,Milk Animals,Head,1488000.0,IRL,2932650.0,NaN,NaN
3887,Ireland,Production,Milk,1970,tonnes,3075600.0,Yield,hg/An,21674.0,Milk Animals,Head,1419000.0,IRL,2957250.0,NaN,NaN
3888,Ireland,Production,Milk,1971,tonnes,3161400.0,Yield,hg/An,21803.0,Milk Animals,Head,1450000.0,IRL,2992050.0,NaN,NaN
3889,Ireland,Production,Milk,1972,tonnes,3318900.0,Yield,hg/An,25510.0,Milk Animals,Head,1301000.0,IRL,3036850.0,NaN,NaN
3890,Ireland,Production,Milk,1973,tonnes,3475500.0,Yield,hg/An,25022.0,Milk Animals,Head,1389000.0,IRL,3085950.0,NaN,NaN
3891,Ireland,Production,Milk,1974,tonnes,3340000.0,Yield,hg/An,23340.0,Milk Animals,Head,1431000.0,IRL,3137500.0,NaN,NaN
3892,Ireland,Production,Milk,1975,tonnes,3593000.0,Yield,hg/An,25555.0,Milk Animals,Head,1406000.0,IRL,3189550.0,NaN,NaN
3893,Ireland,Production,Milk,1976,tonnes,3862700.0,Yield,hg/An,27991.0,Milk Animals,Head,1380000.0,IRL,3238050.0,NaN,NaN
3894,Ireland,Production,Milk,1977,tonnes,4157200.0,Yield,hg/An,28950.0,Milk Animals,Head,1436000.0,IRL,3282200.0,NaN,NaN
3895,Ireland,Production,Milk,1978,tonnes,4697000.0,Yield,hg/An,31651.0,Milk Animals,Head,1484000.0,IRL,3329100.0,NaN,NaN
3896,Ireland,Production,Milk,1979,tonnes,4788200.0,Yield,hg/An,31647.0,Milk Animals,Head,1513000.0,IRL,3373750.0,NaN,NaN
3897,Ireland,Production,Milk,1980,tonnes,4717400.0,Yield,hg/An,31387.0,Milk Animals,Head,1503000.0,IRL,3412800.0,NaN,NaN
3898,Ireland,Production,Milk,1981,tonnes,4682800.0,Yield,hg/An,32317.0,Milk Animals,Head,1449000.0,IRL,3453000.0,NaN,NaN
3899,Ireland,Production,Milk,1982,tonnes,5105600.0,Yield,hg/An,35018.0,Milk Animals,Head,1458000.0,IRL,3485800.0,NaN,NaN
3900,Ireland,Production,Milk,1983,tonnes,5498300.0,Yield,hg/An,36340.0,Milk Animals,Head,1513000.0,IRL,3510600.0,NaN,NaN
3901,Ireland,Production,Milk,1984,tonnes,5736500.0,Yield,hg/An,37371.0,Milk Animals,Head,1535000.0,IRL,3532423.0,NaN,NaN
3902,Ireland,Production,Milk,1985,tonnes,5830300.0,Yield,hg/An,37632.0,Milk Animals,Head,1549300.0,IRL,3538082.0,NaN,NaN
3903,Ireland,Production,Milk,1986,tonnes,5621000.0,Yield,hg/An,36794.0,Milk Animals,Head,1527700.0,IRL,3539690.0,NaN,NaN
3904,Ireland,Production,Milk,1987,tonnes,5528200.0,Yield,hg/An,37092.0,Milk Animals,Head,1490400.0,IRL,3540057.0,NaN,NaN
3905,Ireland,Production,Milk,1988,tonnes,5330300.0,Yield,hg/An,36924.0,Milk Animals,Head,1443600.0,IRL,3524949.0,NaN,NaN
3906,Ireland,Production,Milk,1989,tonnes,5381800.0,Yield,hg/An,38802.0,Milk Animals,Head,1387000.0,IRL,3511009.0,NaN,NaN
3907,Ireland,Production,Milk,1990,tonnes,5402400.0,Yield,hg/An,40256.0,Milk Animals,Head,1342000.0,IRL,3513974.0,NaN,NaN
3908,Ireland,Production,Milk,1991,tonnes,5281800.0,Yield,hg/An,39953.0,Milk Animals,Head,1322000.0,IRL,3534235.0,489492.0,13.85
3909,Ireland,Production,Milk,1992,tonnes,5326100.0,Yield,hg/An,41352.0,Milk Animals,Head,1288000.0,IRL,3558430.0,480744.0,13.51
3910,Ireland,Production,Milk,1993,tonnes,5267400.0,Yield,hg/An,42268.0,Milk Animals,Head,1246200.0,IRL,3576261.0,469563.0,13.13
3911,Ireland,Production,Milk,1994,tonnes,5336500.0,Yield,hg/An,42750.0,Milk Animals,Head,1248300.0,IRL,3590386.0,451671.0,12.58
3912,Ireland,Production,Milk,1995,tonnes,5346800.0,Yield,hg/An,43364.0,Milk Animals,Head,1233000.0,IRL,3608841.0,433422.0,12.01
3913,Ireland,Production,Milk,1996,tonnes,5297100.0,Yield,hg/An,43390.0,Milk Animals,Head,1220800.0,IRL,3637510.0,408856.0,11.24
3914,Ireland,Production,Milk,1997,tonnes,5256300.0,Yield,hg/An,43240.0,Milk Animals,Head,1215600.0,IRL,3674171.0,400852.0,10.91
3915,Ireland,Production,Milk,1998,tonnes,5091200.0,Yield,hg/An,42377.0,Milk Animals,Head,1201400.0,IRL,3712696.0,337855.0,9.10
3916,Ireland,Production,Milk,1999,tonnes,5121100.0,Yield,hg/An,42719.0,Milk Animals,Head,1198800.0,IRL,3754786.0,324414.0,8.64
3917,Ireland,Production,Milk,2000,tonnes,5159788.0,Yield,hg/An,43820.0,Milk Animals,Head,1177500.0,IRL,3805174.0,302511.0,7.95
3918,Ireland,Production,Milk,2001,tonnes,5381800.0,Yield,hg/An,45512.0,Milk Animals,Head,1182500.0,IRL,3866243.0,274890.0,7.11
3919,Ireland,Production,Milk,2002,tonnes,5368000.0,Yield,hg/An,46113.0,Milk Animals,Head,1164100.0,IRL,3931947.0,276416.0,7.03
3920,Ireland,Production,Milk,2003,tonnes,5310140.0,Yield,hg/An,45951.0,Milk Animals,Head,1155600.0,IRL,3996521.0,259774.0,6.50
3921,Ireland,Production,Milk,2004,tonnes,5267880.0,Yield,hg/An,45566.0,Milk Animals,Head,1156100.0,IRL,4070262.0,259683.0,6.38
3922,Ireland,Production,Milk,2005,tonnes,5061250.0,Yield,hg/An,47969.0,Milk Animals,Head,1055100.0,IRL,4159914.0,245851.0,5.91
3923,Ireland,Production,Milk,2006,tonnes,5224390.0,Yield,hg/An,48164.0,Milk Animals,Head,1084700.0,IRL,4273591.0,244022.0,5.71
3924,Ireland,Production,Milk,2007,tonnes,5224770.0,Yield,hg/An,47942.0,Milk Animals,Head,1089800.0,IRL,4398942.0,239302.0,5.44
3925,Ireland,Production,Milk,2008,tonnes,5089960.0,Yield,hg/An,46475.0,Milk Animals,Head,1095200.0,IRL,4489544.0,237497.0,5.29
3926,Ireland,Production,Milk,2009,tonnes,5228300.0,Yield,hg/An,47673.0,Milk Animals,Head,1096700.0,IRL,4535375.0,253527.0,5.59
3927,Ireland,Production,Milk,2010,tonnes,5327000.0,Yield,hg/An,49748.0,Milk Animals,Head,1070800.0,IRL,4560155.0,262209.0,5.75
3928,Ireland,Production,Milk,2011,tonnes,5536680.0,Yield,hg/An,49572.0,Milk Animals,Head,1116900.0,IRL,4580084.0,262439.0,5.73
3929,Ireland,Production,Milk,2012,tonnes,5387770.0,Yield,hg/An,47228.0,Milk Animals,Head,1140800.0,IRL,4599533.0,266313.0,5.79
3930,Ireland,Production,Milk,2013,tonnes,5583670.0,Yield,hg/An,48003.0,Milk Animals,Head,1163200.0,IRL,4623816.0,267257.0,5.78
3931,Ireland,Production,Milk,2014,tonnes,5816220.0,Yield,hg/An,47425.0,Milk Animals,Head,1226400.0,IRL,4657740.0,253381.0,5.44
3932,Ireland,Production,Milk,2015,tonnes,6585120.0,Yield,hg/An,50819.0,Milk Animals,Head,1295800.0,IRL,4701957.0,251085.0,5.34
3933,Ireland,Production,Milk,2016,tonnes,6851430.0,Yield,hg/An,49012.0,Milk Animals,Head,1397900.0,IRL,4755335.0,251557.0,5.29
3934,Ireland,Production,Milk,2017,tonnes,7478160.0,Yield,hg/An,52197.0,Milk Animals,Head,1432687.0,IRL,4807388.0,242773.0,5.05
3935,Ireland,Production,Milk,2018,tonnes,7831250.0,Yield,hg/An,57200.0,Milk Animals,Head,1369100.0,IRL,4867316.0,232171.0,4.77
3936,Ireland,Production,Milk,2019,tonnes,8244870.0,Yield,hg/An,57828.0,Milk Animals,Head,1425760.0,IRL,4934340.0,218591.0,4.43
3937,Ireland,Production,Milk,2020,tonnes,8561470.0,Yield,hg/An,58799.0,Milk Animals,Head,1456050.0,IRL,4985674.0,NaN,NaN

In [457]:
#eu_production_lp_df.to_csv("test.csv")

In [458]:
eu_production_lp_df["Area"].unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czechia',
       'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece',
       'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg',
       'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania',
       'Slovakia', 'Slovenia', 'Spain', 'Sweden'], dtype=object)

In [459]:
print(eu_production_lp_df.head())

        Area Production_Element  Item  Year Production_Unit  Production_Value  \
449  Austria         Production  Milk  1961          tonnes         2972611.0
450  Austria         Production  Milk  1962          tonnes         3064786.0
451  Austria         Production  Milk  1963          tonnes         3106694.0
452  Austria         Production  Milk  1964          tonnes         3179100.0
453  Austria         Production  Milk  1965          tonnes         3255700.0

    Yeild_Element Yeild_Unit  Yeild_Value Animal_Element Animal_Unit  \
449         Yield      hg/An      23250.0   Milk Animals        Head
450         Yield      hg/An      24251.0   Milk Animals        Head
451         Yield      hg/An      24919.0   Milk Animals        Head
452         Yield      hg/An      25985.0   Milk Animals        Head
453         Yield      hg/An      26923.0   Milk Animals        Head

     Animal_Value Country_Code  Human_Population_Total  \
449     1278559.0          AUT               7086299.0
450     1263753.0          AUT               7129864.0
451     1246704.0          AUT               7175811.0
452     1223420.0          AUT               7223801.0
453     1209280.0          AUT               7270889.0

     Human_Populationin_agriculture  Human_Populationin_agriculturePercent
449                             NaN                                    NaN
450                             NaN                                    NaN
451                             NaN                                    NaN
452                             NaN                                    NaN
453                             NaN                                    NaN

In [460]:
eu_production_lp_df.head(60)

,Area,Production_Element,Item,Year,Production_Unit,Production_Value,Yeild_Element,Yeild_Unit,Yeild_Value,Animal_Element,Animal_Unit,Animal_Value,Country_Code,Human_Population_Total,Human_Populationin_agriculture,Human_Populationin_agriculturePercent
449,Austria,Production,Milk,1961,tonnes,2972611.0,Yield,hg/An,23250.0,Milk Animals,Head,1278559.0,AUT,7086299.0,NaN,NaN
450,Austria,Production,Milk,1962,tonnes,3064786.0,Yield,hg/An,24251.0,Milk Animals,Head,1263753.0,AUT,7129864.0,NaN,NaN
451,Austria,Production,Milk,1963,tonnes,3106694.0,Yield,hg/An,24919.0,Milk Animals,Head,1246704.0,AUT,7175811.0,NaN,NaN
452,Austria,Production,Milk,1964,tonnes,3179100.0,Yield,hg/An,25985.0,Milk Animals,Head,1223420.0,AUT,7223801.0,NaN,NaN
453,Austria,Production,Milk,1965,tonnes,3255700.0,Yield,hg/An,26923.0,Milk Animals,Head,1209280.0,AUT,7270889.0,NaN,NaN
454,Austria,Production,Milk,1966,tonnes,3261400.0,Yield,hg/An,27191.0,Milk Animals,Head,1199421.0,AUT,7322066.0,NaN,NaN
455,Austria,Production,Milk,1967,tonnes,3401900.0,Yield,hg/An,27825.0,Milk Animals,Head,1222599.0,AUT,7376998.0,NaN,NaN
456,Austria,Production,Milk,1968,tonnes,3394100.0,Yield,hg/An,28113.0,Milk Animals,Head,1207315.0,AUT,7415403.0,NaN,NaN
457,Austria,Production,Milk,1969,tonnes,3374300.0,Yield,hg/An,28828.0,Milk Animals,Head,1170490.0,AUT,7441055.0,NaN,NaN
458,Austria,Production,Milk,1970,tonnes,3360500.0,Yield,hg/An,29331.0,Milk Animals,Head,1145727.0,AUT,7467086.0,NaN,NaN
459,Austria,Production,Milk,1971,tonnes,3312200.0,Yield,hg/An,29459.0,Milk Animals,Head,1124324.0,AUT,7500482.0,NaN,NaN
460,Austria,Production,Milk,1972,tonnes,3312700.0,Yield,hg/An,30086.0,Milk Animals,Head,1101093.0,AUT,7544201.0,NaN,NaN
461,Austria,Production,Milk,1973,tonnes,3300900.0,Yield,hg/An,30120.0,Milk Animals,Head,1095903.0,AUT,7586115.0,NaN,NaN
462,Austria,Production,Milk,1974,tonnes,3308800.0,Yield,hg/An,30108.0,Milk Animals,Head,1098983.0,AUT,7599038.0,NaN,NaN
463,Austria,Production,Milk,1975,tonnes,3289172.0,Yield,hg/An,30503.0,Milk Animals,Head,1078322.0,AUT,7578903.0,NaN,NaN
464,Austria,Production,Milk,1976,tonnes,3313641.0,Yield,hg/An,31077.0,Milk Animals,Head,1066274.0,AUT,7565525.0,NaN,NaN
465,Austria,Production,Milk,1977,tonnes,3369495.0,Yield,hg/An,31894.0,Milk Animals,Head,1056454.0,AUT,7568430.0,NaN,NaN
466,Austria,Production,Milk,1978,tonnes,3394596.0,Yield,hg/An,32484.0,Milk Animals,Head,1044994.0,AUT,7562305.0,NaN,NaN
467,Austria,Production,Milk,1979,tonnes,3361049.0,Yield,hg/An,32667.0,Milk Animals,Head,1028867.0,AUT,7549425.0,NaN,NaN
468,Austria,Production,Milk,1980,tonnes,3450481.0,Yield,hg/An,33821.0,Milk Animals,Head,1020212.0,AUT,7549433.0,NaN,NaN
469,Austria,Production,Milk,1981,tonnes,3544400.0,Yield,hg/An,35221.0,Milk Animals,Head,1006340.0,AUT,7568710.0,NaN,NaN
470,Austria,Production,Milk,1982,tonnes,3602065.0,Yield,hg/An,35935.0,Milk Animals,Head,1002370.0,AUT,7574140.0,NaN,NaN
471,Austria,Production,Milk,1983,tonnes,3683960.0,Yield,hg/An,36404.0,Milk Animals,Head,1011962.0,AUT,7561910.0,NaN,NaN
472,Austria,Production,Milk,1984,tonnes,3781387.0,Yield,hg/An,36806.0,Milk Animals,Head,1027372.0,AUT,7561434.0,NaN,NaN
473,Austria,Production,Milk,1985,tonnes,3809730.0,Yield,hg/An,37161.0,Milk Animals,Head,1025189.0,AUT,7564985.0,NaN,NaN
474,Austria,Production,Milk,1986,tonnes,3790052.0,Yield,hg/An,37121.0,Milk Animals,Head,1020990.0,AUT,7569794.0,NaN,NaN
475,Austria,Production,Milk,1987,tonnes,3737955.0,Yield,hg/An,37058.0,Milk Animals,Head,1008681.0,AUT,7574586.0,NaN,NaN
476,Austria,Production,Milk,1988,tonnes,3367847.0,Yield,hg/An,33972.0,Milk Animals,Head,991372.0,AUT,7585317.0,NaN,NaN
477,Austria,Production,Milk,1989,tonnes,3365003.0,Yield,hg/An,36561.0,Milk Animals,Head,920377.0,AUT,7619567.0,NaN,NaN
478,Austria,Production,Milk,1990,tonnes,3365555.0,Yield,hg/An,36542.0,Milk Animals,Head,921016.0,AUT,7677850.0,NaN,NaN
479,Austria,Production,Milk,1991,tonnes,3352762.0,Yield,hg/An,36597.0,Milk Animals,Head,916120.0,AUT,7754891.0,603331.0,7.78
480,Austria,Production,Milk,1992,tonnes,3309446.0,Yield,hg/An,37130.0,Milk Animals,Head,891324.0,AUT,7840709.0,597462.0,7.62
481,Austria,Production,Milk,1993,tonnes,3294694.0,Yield,hg/An,37748.0,Milk Animals,Head,872812.0,AUT,7905633.0,585807.0,7.41
482,Austria,Production,Milk,1994,tonnes,3302261.0,Yield,hg/An,38608.0,Milk Animals,Head,855325.0,AUT,7936118.0,571400.0,7.20
483,Austria,Production,Milk,1995,tonnes,2967742.0,Yield,hg/An,42921.0,Milk Animals,Head,691448.0,AUT,7948278.0,583404.0,7.34
484,Austria,Production,Milk,1996,tonnes,2977910.0,Yield,hg/An,43112.0,Milk Animals,Head,690743.0,AUT,7959017.0,591355.0,7.43
485,Austria,Production,Milk,1997,tonnes,3037320.0,Yield,hg/An,44077.0,Milk Animals,Head,689096.0,AUT,7968041.0,548998.0,6.89
486,Austria,Production,Milk,1998,tonnes,3066330.0,Yield,hg/An,45149.0,Milk Animals,Head,679152.0,AUT,7976789.0,517694.0,6.49
487,Austria,Production,Milk,1999,tonnes,3155270.0,Yield,hg/An,46585.0,Milk Animals,Head,677309.0,AUT,7992324.0,497922.0,6.23
488,Austria,Production,Milk,2000,tonnes,3257320.0,Yield,hg/An,47916.0,Milk Animals,Head,679792.0,AUT,8011566.0,484700.0,6.05
489,Austria,Production,Milk,2001,tonnes,3323656.0,Yield,hg/An,49589.0,Milk Animals,Head,670246.0,AUT,8042293.0,467257.0,5.81
490,Austria,Production,Milk,2002,tonnes,3316366.0,Yield,hg/An,50362.0,Milk Animals,Head,658510.0,AUT,8081957.0,465521.0,5.76
491,Austria,Production,Milk,2003,tonnes,3252847.0,Yield,hg/An,51759.0,Milk Animals,Head,628456.0,AUT,8121423.0,446678.0,5.50
492,Austria,Production,Milk,2004,tonnes,3158238.0,Yield,hg/An,54121.0,Milk Animals,Head,583546.0,AUT,8171966.0,400426.0,4.90
493,Austria,Production,Milk,2005,tonnes,3135852.0,Yield,hg/An,53694.0,Milk Animals,Head,584023.0,AUT,8227829.0,433607.0,5.27
494,Austria,Production,Milk,2006,tonnes,3168555.0,Yield,hg/An,55212.0,Milk Animals,Head,573885.0,AUT,8268641.0,433277.0,5.24
495,Austria,Production,Milk,2007,tonnes,3179995.0,Yield,hg/An,55420.0,Milk Animals,Head,573796.0,AUT,8295487.0,458740.0,5.53
496,Austria,Production,Milk,2008,tonnes,3221095.0,Yield,hg/An,56040.0,Milk Animals,Head,574789.0,AUT,8321496.0,436879.0,5.25
497,Austria,Production,Milk,2009,tonnes,3256926.0,Yield,hg/An,55802.0,Milk Animals,Head,583653.0,AUT,8343323.0,443865.0,5.32
498,Austria,Production,Milk,2010,tonnes,3285914.0,Yield,hg/An,56004.0,Milk Animals,Head,586732.0,AUT,8363404.0,435733.0,5.21
499,Austria,Production,Milk,2011,tonnes,3337018.0,Yield,hg/An,56833.0,Milk Animals,Head,587166.0,AUT,8391643.0,414547.0,4.94
500,Austria,Production,Milk,2012,tonnes,3413021.0,Yield,hg/An,58501.0,Milk Animals,Head,583415.0,AUT,8429991.0,394524.0,4.68
501,Austria,Production,Milk,2013,tonnes,3424598.0,Yield,hg/An,58756.0,Milk Animals,Head,582850.0,AUT,8479823.0,388376.0,4.58
502,Austria,Production,Milk,2014,tonnes,3524888.0,Yield,hg/An,59637.0,Milk Animals,Head,591053.0,AUT,8546356.0,413644.0,4.84
503,Austria,Production,Milk,2015,tonnes,3568901.0,Yield,hg/An,60150.0,Milk Animals,Head,593338.0,AUT,8642699.0,391514.0,4.53
504,Austria,Production,Milk,2016,tonnes,3659959.0,Yield,hg/An,61590.0,Milk Animals,Head,594250.0,AUT,8736668.0,380045.0,4.35
505,Austria,Production,Milk,2017,tonnes,3747784.0,Yield,hg/An,62137.0,Milk Animals,Head,603149.0,AUT,8797566.0,345744.0,3.93
506,Austria,Production,Milk,2018,tonnes,3859990.0,Yield,hg/An,62098.0,Milk Animals,Head,621599.0,AUT,8840521.0,326215.0,3.69
507,Austria,Production,Milk,2019,tonnes,3820050.0,Yield,hg/An,62375.0,Milk Animals,Head,612434.0,AUT,8879920.0,325005.0,3.66
508,Austria,Production,Milk,2020,tonnes,3852260.0,Yield,hg/An,62887.0,Milk Animals,Head,612564.0,AUT,8916864.0,NaN,NaN

In [461]:
# now check null value
eu_production_lp_df.isnull().sum() # check for missing data

Area                                       0
Production_Element                         0
Item                                       0
Year                                       0
Production_Unit                            0
Production_Value                           0
Yeild_Element                              0
Yeild_Unit                                 0
Yeild_Value                                0
Animal_Element                             0
Animal_Unit                                0
Animal_Value                               0
Country_Code                               0
Human_Population_Total                     0
Human_Populationin_agriculture           563
Human_Populationin_agriculturePercent    563
dtype: int64

In [462]:
# import the propulaton in agriculture data
# encoding is added to overcome following error
#UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 103043: invalid continuation byte
wpt_df = pd.read_csv('datasets/world_populations_total.csv', encoding='latin-1')

In [463]:
eu_production_lp_df.describe() # statistical description, only for numeric values

,Year,Production_Value,Yeild_Value,Animal_Value,Human_Population_Total,Human_Populationin_agriculture,Human_Populationin_agriculturePercent
count,1323.000000,1.323000e+03,1323.000000,1.323000e+03,1.323000e+03,7.600000e+02,760.000000
mean,1993.495087,6.057124e+06,34213.859410,3.020511e+06,1.787774e+07,1.244400e+06,8.152303
std,17.231377,7.735820e+06,23772.687282,3.630006e+06,2.155799e+07,1.921795e+06,7.331424
min,1961.000000,2.500000e+04,985.000000,1.400400e+04,3.019960e+05,4.216000e+03,0.680000
25%,1979.000000,1.281618e+06,13201.500000,3.936315e+05,4.533528e+06,1.966150e+05,3.277500
50%,1996.000000,3.130613e+06,31700.000000,1.091000e+06,8.874520e+06,4.613790e+05,5.460000
75%,2008.000000,6.857486e+06,51296.000000,5.780022e+06,2.124367e+07,1.376731e+06,10.795000
max,2020.000000,3.457750e+07,100283.000000,1.358670e+07,8.316087e+07,1.044649e+07,45.209999

In [464]:
#identify maximum Production_Value value in data frame eu_production_lp_df's column Production_Value
eu_production_pdntotal_numbers = np.array(eu_production_lp_df['Production_Value']) 
maximum_value = eu_production_pdntotal_numbers[0]
#using for loop
for number in eu_production_pdntotal_numbers:
    if number > maximum_value:
        maximum_value = number
print('Maximum value is:', maximum_value)

Maximum value is: 34577496.0

In [465]:
# calculate mean value

#create a function

def cal_mean(input_data):
    try:
        return sum(input_data) / len(input_data)
    except:
        print("some error occured!")

#use the function to calculate mean value
print('Mean value is:', cal_mean(np.array(eu_production_lp_df['Production_Value'])))

Mean value is: 6057124.226001511